In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("wine_dataset.csv")

In [3]:
df.head()

   citric acid  residual sugar    pH  sulphates  alcohol  type
0         0.13            1.60  3.34       0.59      9.2     1
1         0.10            2.80  3.60       0.66     10.2     1
2         0.32            1.90  3.20       0.55      9.5     1
3         0.29           13.65  3.00       0.60      9.5     0
4         0.26            2.00  3.41       0.74      9.2     1

In [4]:
df.describe()

,citric acid,residual sugar,pH,sulphates,alcohol,type
count,3198.000000,3198.000000,3198.000000,3198.000000,3198.000000,3198.000000
mean,0.301776,4.449781,3.249678,0.574431,10.459725,0.500000
std,0.165284,4.214445,0.163439,0.165587,1.143231,0.500078
min,0.000000,0.600000,2.740000,0.220000,8.000000,0.000000
25%,0.210000,1.900000,3.140000,0.470000,9.500000,0.000000
50%,0.300000,2.400000,3.240000,0.550000,10.200000,0.500000
75%,0.400000,5.937500,3.360000,0.650000,11.200000,1.000000
max,1.660000,65.800000,4.010000,2.000000,14.900000,1.000000